.bigCont{
   
    width: 100%;
    height: 100%;
    display:flex ;

  
}
.sidebar{
    z-index: 10;
}






.list{
    z-index: 1;
}


@media (max-width: 576px) {
    .sidebar{
        display:none;
    }
}



